.quadrado{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 0px;
    background-color: coral;
    position: absolute;
}

.quadrado1{
    left: 0px;
    top: 0px;
    background-color: darkslategray;
}


.quadrado2{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: crimson;
}

.quadrado3{
    left: 0px;
    bottom: 0px;
    background-color: darkgreen;
}

.quadrado4{
    right: 0px;
   top: 0px;
    background-color: darkorchid;
}